<!-- <h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p> -->
<h1>Create a new Dose by Adding an Ingredient</h1>
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description %>
    <%= f.input :ingredient_id, collection: @ingredients %>
    <%= f.submit "Add Ingredient" %>
  <% end %>
